<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>d9438d9a3b7a7497bbb5fec27b1f37a1</string>
	<key>privateKey</key>
	<string>a3cd42c45b566d2bb2b08ab968cd29eaccc5182f</string>
</dict>
</plist>
